---
import type { PostFull } from "../../lib/sanity/types";
import { urlForResponsive } from "../../lib/sanity/imageUrl";

interface Props {
  post: PostFull;
}

const { post } = Astro.props;
const img = urlForResponsive(post.coverImage, { widths: [640, 1024, 1440, 2000] });
---

<section class="bg-bg px-10 pb-10">
  <div class="max-w-content mx-auto">
    <img
      src={img.src}
      srcset={img.srcset}
      sizes="(min-width: 1280px) 1240px, 100vw"
      width={img.width}
      alt={post.coverImage.alt}
      class="w-full h-auto rounded-xl"
      loading="eager"
      fetchpriority="high"
      decoding="async"
    />
  </div>
</section>
